@page
@model DemoPET3.WebApp.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<h4>AccountUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if (!String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountUser.UserId" class="control-label"></label>
                <input asp-for="AccountUser.UserId" class="form-control" required="required"/>
                <span asp-validation-for="AccountUser.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUser.UserPassword" class="control-label"></label>
                <input asp-for="AccountUser.UserPassword" class="form-control" type="password" required="required"/>
                <span asp-validation-for="AccountUser.UserPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
