@page
@model DemoPET3.WebApp.Pages.Publishers.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Publisher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if (!String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Publisher.PublisherId" class="control-label"></label>
                <input asp-for="Publisher.PublisherId" class="form-control"/>
                <span asp-validation-for="Publisher.PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher.PublisherName" class="control-label"></label>
                <input asp-for="Publisher.PublisherName" class="form-control"/>
                <span asp-validation-for="Publisher.PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher.Description" class="control-label"></label>
                <input asp-for="Publisher.Description" class="form-control"/>
                <span asp-validation-for="Publisher.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}